@import "./variables.scss";
@import "./spacing-helpers.scss";

body {
    background-color: $bcg-color;
}

// Font styles
.primary-text {
    color: $primary-text-color;
    font-weight: 500;
}

.secondary-text {
    font-size: 12px;
}

a.primary-text {
    &:hover {
        color: $primary-text-color;
    }
}

// Button styles
.btn {
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 13px;
    display: inline-flex;
    align-items: center;

    .btn-icon {
        height: 16px;
        margin-right: 5px;
    }

    &:focus {
        box-shadow: none;
    }
}

.btn-border {
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.125);

    &:hover {
        background-color: rgba(0, 0, 0, 0.125);
    }
}

.btn-no-border {
    background-color: transparent;
    border-color: transparent;
}

.btn-primary {
    background-color: $primary-btn-color;
    border-color: $primary-btn-color; 

    &:hover,
    &:active,
    &:focus {
        background-color: #000 !important;
        border-color: #000 !important;
        box-shadow: none;
    }

    &:disabled {
        background-color: $secondary-text-color;
        border-color: $secondary-text-color;
    }
}

// Icons
.icon {
    width: 22px; 
    margin-right: 10px;
}

// Container settings 
@media (min-width: 1200px) {
    .container {
        max-width: 900px;
    }
}

// Modal styling
.modal-content {
    border-radius: 3px;
    border: 1px solid $divider-color;
}

// Scrollbar styling
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: rgb(160, 158, 158);
}
